.card {
  padding: 30px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(16, 16, 16);
}

.card a {
  text-decoration: none;
  color: white;
}

.card__image {
  width: 200px;
  height: 300px;
}
