.container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.show-details {
  padding: 30px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.image {
  height: 400px;
  width: 300px;
}

.details {
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
}
