.container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.details {
  padding: 30px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.detail__image {
  height: 400px;
  width: 300px;
}

.detail__info {
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
}

.back__button {
  height: 40px;
  width: 150px;
  background-color: rgb(141, 144, 146);
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}

.back__button:hover {
  background-color: rgb(34, 34, 35);
  color: rgb(202, 201, 201);
}
