.search {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.search__title {
  text-transform: uppercase;
}

.search__field {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  display: block;
  font-size: 20px;
  border-radius: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
